html, body{

height: 100%;
margin: 0;

}

body{

background-image: linear-gradient(to top right, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);

}

#header{

color: white;
font-family: 'Yeon Sung';
font-size: 45px;
letter-spacing: 10px;
margin-top: 80px;

}

#header img{

width: 60px;
margin-left: 15px;

}

.login_div{

background: rgba(255, 255, 255, 0.8);
border-radius: 15px;
float:none;
border-top:rgba(255, 255, 255, 0.787) 10px solid;
border-right:rgba(255, 255, 255, 0.787) 10px solid;
margin-left: 150px;

}

.logo{

width: 150px;
height: 150px;
margin-top: 40px;
border-radius: 100px;
border:rgb(103, 161, 255) 5px dashed;

}

#login_button{

width: 80%;
border-radius: 15px;
margin-bottom:15px;
background-image: linear-gradient(to right, #85c0ff 0%,#0384fc  50%, #85c0ff 100%);
border-style: none;
font-size: 20px;
font-family: 'Prata', serif;
color: rgb(255, 255, 255);
padding-top: 8px;
padding-bottom: 5px;
transition: transform 0.5s;

}

#login_button:hover{

transform: scale(1.25);

}

label{

margin-top: 10px;
font-size: 20px;
color:dodgerblue;
font-family:cursive;

}

#quote{

font-family: 'Tangerine', cursive;
font-size:50px;
margin-bottom: 20px;

}

#chat{

font-family: 'Hina Mincho', serif;
font-size: 35px;

}

[placeholder]:focus::-webkit-input-placeholder{

transition: text-indent 3.9s 0.6s ease; 
text-indent: -100%;
opacity: 1;
color: rgb(15, 79, 255);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}